* {
  font-family: "Georgia", Times, serif;
  border-radius: 10px;
}

.App {
  text-align: center;
}

#createTask {
  color: white;
  background-color: green;
  border-radius: 40%;
  border-color: gold;
  display: block;
  float: right;
  clear: both;
}

#createTask:hover {
  color: gold;
}

ul.tasklist {
  list-style-type: none;
  background-color: darkblue;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
}

ul.tasklist > h3 {
  margin: 0.3em;
}
