* {
  font-family: "Georgia", Times, serif;
  border-radius: 10px;
}

body {
  background-image: linear-gradient(mediumpurple, transparent);
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}

h1 {
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  color: lawngreen;
  margin-block-end: 0px;
}

h2 {
  font-family: "Cormorant Upright", serif;
  font-weight: 600;
  margin-block-start: 0.2em;
  color: lawngreen;
}
button {
  border-color: gold;
}

#createTask {
  color: white;
  background-color: green;

  display: block;
  float: right;
  clear: both;
}

#createTask:hover {
  color: gold;
}

ul.tasklist {
  list-style-type: none;
  background-color: darkblue;
  display: inline-block;
  padding: 5px;
}
ul li {
  clear: both;
}
ul.tasklist > h3 {
  margin: 0.3em;
}

menu {
  padding: 3px;
  border: 3px gold ridge;
  margin: 0 auto;
  display: block;
  width: fit-content;
  background-color: yellowgreen;
}

menu button svg {
  width: 0.7em;
  height: 0.7em;
  padding: 0px;
}

menu button {
  border-color: gold;
  /* background-color: #02e307; */
}

menu button:disabled {
  border-color: goldenrod;
  /* background-color: green; */
}
menu button:nth-child(1) {
  transform: scaleX(-1);
}
