.Task {
  position: relative;
  display: inline-block;
  border-style: double;
  border-width: 5px;
  border-radius: 10%;
  border-color: orange;
  background-color: green;
  padding: 20px;
  font-family: "Georgia", Times, serif;
  margin-top: 10px;
}
#id {
  left: 3px;
  color: blue;
  background-color: gold;
}

#delete {
  right: 3px;
  color: white;
  background-color: red;
}

.tooltip {
  border-radius: 40%;
  position: absolute;
  text-align: center;
  display: inline;
  top: 3px;
  margin: 0px;
}

p#delete > span:hover,
p.warning > button:hover {
  color: gold;
}

h3 {
  color: white;
  text-align: center;
  font-weight: 700;
  /* line-height: 0.2; */
  max-width: 300px;
  /* word-wrap: break-word; */
}

p.warning {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  color: black;
  box-shadow: 5px 10px #888888;
  background-color: white;
  border: 3px black dashed;
  padding: 7px;
  border-radius: 10px;
}

p.warning > button {
  font-family: "Georgia", Times, serif;
  background-color: red;
  color: white;
  font-weight: bold;
  border: 1px black solid;
  border-radius: 10px;
  margin: 3px;
  margin-top: 7px;
}

textarea {
  margin: 0.1em;
}
